{% extends "reportbump/layouts/base.html" %}
{% block title %}Bache Reportado{% endblock title %}
{% block content %}
<section id="home" class="home">
    
    <div class="panel-detail">
        <div class="panel-header">
            <a href="{% url "maps" %}" class=""> <i class="fa fa-arrow-left"></i> volver al Mapa de reportes</a>
        </div>
        <div class="detail">
            <img id="img-photole" src="{{ pothole.display_image.url }}" alt="Foto del bache" >
            {% comment %} <div id="mapid" style="height: 400px; width: 100%;"></div> {% endcomment %}
            <p class="date">{{ pothole.created_at }}</p>
            <p><strong>REPORTADO POR:</strong> {{ pothole.reported_by|upper }}</p>
        </div>
    </div>
</section>
{% endblock content %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock css %}
{% block js %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>

</script>
{% endblock js %}